<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="BasicHttpBinding_IWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62220/Remote/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
            <endpoint address="http://localhost:62220/WCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCF" contract="WCFTest.IWCF"
                name="BasicHttpBinding_IWCF" />
        </client>
    </system.serviceModel>
</configuration>